<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wining</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

	<div class="row">
		<div class="col">
			<h1>판매 주류 보기</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			제품명
		</div>
		<div class="col-1">
			판매가
		</div>
		<div class="col-1">
			도수
		</div>
		<div class="col-1">
			용량
		</div>
		<div class="col">
			상세 설명
		</div>
		<div class="col">
			
		</div>
	</div>
{% for dto in product_list %}
	<div class="row">
		<div class="col">
			{{dto.storeSell__wine__wine_name}}
		</div>
		<div class="col-1">
			{{dto.storeSell__sell_price}}원
		</div>
		<div class="col-1">
			{{dto.storeSell__wine__wine_alc}}%
		</div>
		<div class="col-1">
			{{dto.storeSell__wine__wine_capacity}}ml
		</div>
		<div class="col">
			{{dto.storeSell__sell_promot}}
		</div>
		<div class="col">
			<input type="button" name="btnShowProductReview" value="리뷰 보기">	
		</div>
	</div>
{% endfor %}
<br>
<div class="row">
	<div class="col" style="text-align:center">
		<input type="button" id="btnProductAdd" value="추가 및 삭제" onclick="location='product-addition?mdfy=1'">
		<input type="button" id="btnExcelUpload" value="엑셀로추가">
		<input type="button" id="btnBack" value="뒤로가기" onclick="location='store-mypage'">
	</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>