{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wining</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="row" style="text-align: center;">
        <div class="col">
            판매 상품 등록
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            제품명으로 검색
            <input type="text" id="srhByName" onkeypress="searchByName">
        </div>
        <div class="col" style="text-align: left;">
            판매할 주류를 선택해주세요
        </div>
    </div>
    <div class="row" style="height:70vh">
        <div class="col-4">
            <div class="row">
            	<div class="col" style="text-align:center">
            		제품명
            	</div>
            </div>
            <div id="wineList">
            {% for wine in wines %}
                <div class="row">
                    <div id="{{ wine.wine_name }}"  class="col wineName" >
                    	<input type="hidden" id="{{ wine.wine_name }}1" value="{{ wine.wine_id }}">
                    	<input type="hidden" id="{{ wine.wine_name }}2" value="{{ wine.wine_capacity }}">
                    	<input type="hidden" id="{{ wine.wine_name }}3" value="{{ wine.wine_alc }}">
                        {{ wine.wine_name }}
                    </div>
                </div>
             {% endfor %}
             </div>
        </div>
        <div class="col">
        	<div class="row">
        		<div class="col">
        			제품명
        		</div>
        		<div class="col-1">
        			용량(ml)
        		</div>
        		<div class="col-1">
        			도수(%)
        		</div>
        		<div class="col-1"  style="padding-left:0px; padding-right:0px">
        			판매가(원)
        		</div>
        		<div class="col">
        			상세 설명
        		</div>
        		<div class="col-1">
        			
        		</div>
        	</div>

        	{% csrf_token %}	
	            <form id="productAdd" action="product-addition" method="post">
	                <input type="hidden" name="storeId" value="{{store_id}}">
	                
	            </form>
	            

        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            <input type="submit" name="btnProductAdd" form="productAdd" value="회원가입 완료">
            <input type="button" name="btnExcelUpload" value="엑셀로 업로드" onclick="excel-upload">
            <input type="submit" name="btnCancelRegist" form="productAdd" value="등록 취소">
            <input type="button" name="btnBack" value="뒤로가기" onclick="history.back()">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/productAdditionScript.js' %}" ></script>
</body>

</html>